<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <h3 th:text="'Number of all users: ' + ${numberOfUsers}"></h3>

    <hr>

    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Age</th>
                <th>Phone number</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="tempUser : ${usersList}">
                <td th:text="${tempUser.id}"></td>
                <td th:text="${tempUser.firstName}"></td>
                <td th:text="${tempUser.lastName}"></td>
                <td th:text="${tempUser.age}"></td>
                <td th:text="${tempUser.phoneNo}"></td>
            </tr>
        </tbody>
    </table>

</body>

</html>